/* .matrix-input div {
    padding: 0.2em;
} */

.matrix-input {
    margin: auto;
}

.matrix-input-row input {
    width: 2em;
    height: 2em;
    margin: 0.1em;
}

.matrix-input-row:last-of-type {
    padding-bottom: .5em;
}